/* Created by Zeyuan Li on 17 of September 2018. */


body {
    padding-right: 10%;
    padding-left: 10%;

    color: white;

    background-image: url("../img/background.png");

    font-family: Consolas;
}

.container {
    background-color: rgba(120, 21, 12, 0.8);
    padding: 3%;
}

nav {
    float: none;
    clear: both;
}

nav a{
    float: left;
    display: block;

    background-color: #149c55;

    margin-left: 2%;
    padding: 2%;

    color: white;
    font-size: 20px;
    text-decoration:none;
    text-align: center;
}

nav a:hover{
    background-color: #1dcd6d;
}

a {
    font-style: normal;
}

hr {
    clear: both;
}

article {
    padding: 2%;
    background-color: rgba(156, 17, 8, 0.7);
    margin-bottom: 2%;
}